<div class="container-fluid  mt-5">
    <div class="px-5 row no-gutters">
        <div class="col-md-12 col-md-12 col-md-12 col-xs-12">
            <table>
                <caption>tabledata</caption>
                <tr>
                    <td>john</td>
                    <td>gr</td>
                    <td>arun</td>
                </tr>
            </table>


            <header class="patnote-menu col-md-12 col-md-12 col-xs-12">
                <nav class=" ">
                    <ul class="nav nav-tabs fixed active">
                        <li class="nav-item pr-1">
                            <a class="nav-link " routerLinkActive="active" routerLink="/patientnote" role="tab">Patient Note</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  " routerLinkActive="active" routerLink="/patientexamine" role="tab">Examine Instructions</a>
                        </li>

                    </ul>

                </nav>

            </header>
        </div>
    </div>
</div>