<div class="container-fluid  ">
    <div class="px-5 row no-gutters">
        <div class="col-md-12 col-md-12 col-md-12 col-xs-12">

            <section id="patient_form" class="border bg-#EAE6E6">
                <!-- <form [formGroup]="patientSection" (ngSubmit)="onSubmit()" #content> -->
                    <form>
                    <div class="patient-blocks">
                        <div class="row no-gutters">
                            <div class="col-md-12 text-center">
                                <h4>Examinee Name</h4>
                                <h3><b>Jane Doe</b></h3>
                            </div>
                            <div class="col-md-12 border">
                                <div class="container blue patnote-tme text-light ">
                                    <div class="row   no-gutters  ">
                                        <div class="col  ">
                                            <p>USMLE ID</p>
                                            <p>Room Number</p>

                                        </div>
                                        <div class="col">
                                            <p>0-123-456-7</p>
                                            <p>01</p>
                                        </div>
                                        <div class="col  offset-sm-2">
                                            <p>Badge ID</p>
                                            <p>Encounter</p>
                                        </div>
                                        <div class="col">
                                            <p>2</p>

                                            <p>1</p>
                                        </div>

                                    </div>
                                    <div class="row no-gutters justify-content-center">
                                        <div class="col text-center">
                                            <div id="txtalert" (click)="textalert()"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="patnote-times">
                                    <p><span>&nbsp;</span> <i id="countdown-time" class="timer"><span id="time"></span></i></p>
                                    <span id="countdown-msg" class="patnote-txt"></span>
                                </div>


                            </div>

                            <div class="col-md-12  pt-5">
                                <h3><b>HISTORY</b> : Describe the history you just obtained from this patient. Include only information (pertinent positives and negatives) relevant to this patient's problem(s)</h3>
                            </div>
                            <div class="col-md-12 col-md-12  col-xs-12">
                                <textarea rows="7" #mytxt id="ta" name="myTextcommants" cols="70" maxcols="70" maxrows="7" maxlength="950"></textarea>
                                <!-- <textarea name="mytexthistory" id="mytexthistory" cols="70" rows="7" maxlength="950" class="patienthistory"></textarea> -->

                                <!-- <textarea siInput [(ngModel)]="myTextarea" style="resize:none;  white-space: both;" rows="20" (keyup)="onKeyAction()" (keydown)="onKeyAction()" id="textID" maxlength="{{maxTextAreaLength}}"></textarea> -->
                            </div>
                            </div>
                            </div>
                           
                </form>
            </section>
        </div>
    </div>
</div>