<div class="container-fluid  ">
    <div class="px-5 row no-gutters">
        <div class="col-md-12 col-md-12 col-md-12 col-xs-12">
            <section id="examine_instructions" class="border">
                <div class="container-lg">
                    <div class="row no-gutters justify-content-center">
                        <div class="col-md-11 offset-md-0.5 col-md-11  col-xs-11 mt-5">


                            <div class="col-md-12 blue border py-3">
                                <h2>VITAL SIGNS</h2>
                            </div>
                            <div class="container vital mb-3">
                                <div class="row row-cols-2 p-lg-4 border">
                                    <div class="col ">
                                        <p><b>Temperature</b>98.8°F (37.1°C)</p>
                                    </div>
                                    <div class="col">
                                        <p><b>Blood Pressure</b>120/76 mm Hg</p>
                                    </div>
                                    <div class="col">
                                        <p><b>Heart Rate</b>78 / min</p>
                                    </div>
                                    <div class="col">
                                        <p><b>Respirations </b>15/min</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 blue border py-3">
                                <h2>INSTRUCTIONS</h2>
                            </div>
                            <div class="col-md-12 ml-2  txt mb-3">
                                <ol class="list-group" type="1">
                                    <li>Obtain a history pertinent to this patient's problem.</li>
                                    <li>Perform a relevant physical examination (Do not perform a breast, pelvic/genital, corneal reflex, or rectal examination).</li>
                                    <li>Discuss your impressions and any initial plans with the patient.</li>
                                    <li>After leaving the room, complete your patient notes on the given form or computer.</li>
                                </ol>

                            </div>
                            <div class="col-md-12 blue border py-3">
                                <h2>OPENING_SCENARIO</h2>
                            </div>
                            <div class="container ">
                                <div class="row row-cols-2 p-lg-4 border">
                                    <div class="col-md-12 opening_txt ">
                                        John Miller, a 20-year-old male, has come to the student health clinic reporting knee pain
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>